<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48737815277-f5h9g7ll2i9mh3fg1jkltdc0lr96cl6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48737815277-f5h9g7ll2i9mh3fg1jkltdc0lr96cl6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48737815277-n4qji84b9mofem2uvnj09560dkvf76m1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFHpevk4k6EJ0Kmmnx4VJKq-rXl0ilVzE</string>
	<key>GCM_SENDER_ID</key>
	<string>48737815277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.schola</string>
	<key>PROJECT_ID</key>
	<string>schola-vu</string>
	<key>STORAGE_BUCKET</key>
	<string>schola-vu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48737815277:ios:aa51dd251916f417f11ae4</string>
</dict>
</plist>